@charset "utf-8";
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
body {
    line-height: 1;
    color: #333;
    font-family: 'GmarketSansMedium';
}

/* common */
.inner {
    width: 1440px;
    margin: 0 auto;
}

section .title > p {
    margin-bottom: 40px;
    font-size: 20px;
}
section .title > h3 {
    font-size: 50px;
    margin-bottom: 15px;
}

/* header */
header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
header.on {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #eee;
    top: 0;
    left: 0;
    z-index: 999;
}
header .inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner h1 {
    font-size: 20px;
}
header .inner h1 a {}

header .inner nav {}
header .inner nav  ul {
    display: flex;
    font-size: 18px;
}
header .inner nav  ul li {}
header .inner nav  ul li a{
    padding-left: 100px;
}

/* .main_visual */
.main_visual {
    height: 100vh;
    position: relative;
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.main_visual .inner p {
    color: rgba(255, 255, 255, 0.673);
    font-size: 25px;
    margin-bottom: 10px;

}
.main_visual .inner h2 {
    font-size: 70px;
}

/* .cont01 나의 소개 */
.cont01 {
    padding: 200px 0;
}
.cont01 .inner {
    display: flex;
    justify-content: space-between;
}
.cont01 .left {
    width: 30%;
}
.cont01 .left .info .pic {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
}
.cont01 .left .info .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont01 .left .info .name strong {
    display: block;
    margin-top: 5px;
    font-size: 20px;
}
.cont01 .left .info .me {
    margin-top: 20px;
}
.cont01 .left .info .me p {
    margin-bottom: 10px;
}
.cont01 .left .info .me span {
    display: inline-block;
    width: 100px;
    margin-right: 20px;
}
.cont01 .middle {
    width: 30%;
    padding-top: 125px;
}

.cont01 .middle .education {
    margin-bottom: 40px;
}
.cont01 li strong {
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
}

.cont01 .middle .hashtag {
    margin-top: 40px;
}
.cont01 .right {
    width: 30%;
    padding-top: 125px;
    display: flex;
}
.cont01 .right div {
    padding-top: 28px;
    margin-left: 40px;
}

.cont01 .right .skills li {
    margin-bottom: 7px;
}

.cont01 .right .sk_line li {
    width: 200px;
    height: 12px;
    margin-bottom: 11px;
    background-color: #ccc;
    text-indent: -9999px;
}



/* .cont02 영상편집 */
.cont02 {
    padding: 200px;

}
.cont02 .motion_menu {
    display: inline-block;
}
.cont02 .motion_menu  ul {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #eee;
    height: 40px;
    border-radius: 40px;
}
.cont02 .motion_menu  ul  li {
    padding: 0 30px;
    font-size: 14px;
    cursor: pointer;
}
.cont02 .motion_menu  ul  li.on {
    background-color: #000;
    color: #fff;
    height: 100%;
    line-height: 40px;
    border-radius: 40px;
}

.cont02 .mySwiper {
    display: none;
}
.cont02 .mySwiper.on {
    display: block;
}

.cont02 .mySwiper .item {
    display: flex;
    justify-content: space-between;
}
.cont02 .mySwiper .item .pc_youtube {
    position: relative;
    width: 55%;
}
.cont02 .mySwiper .item .pc_youtube img {
    height: auto;
}
.cont02 .mySwiper .item .pc_youtube .youtube {
    position: absolute;
    top: 23px;
    left: 26px;
    width: 94%;

}
.cont02 .mySwiper .item .pc_youtube .youtube > div {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.cont02 .mySwiper .item .pc_youtube .youtube > div iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cont02 .mySwiper .item .info {
    width: 45%;
    text-align: left;
    padding-left: 50px;
}
.cont02 .mySwiper .item .info > strong {
    display: block;
    margin: 1px 0 20px;
}
.cont02 .mySwiper .item .info h4 {
    font-size: 34px;
}
.cont02 .mySwiper .item .info p {
    font-size: 20px;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
    line-height: 1.4;
}

.cont02 .mySwiper .item .info .text {
    margin: 20px 0 30px;
}
.cont02 .mySwiper .item .info .text {}
.cont02 .mySwiper .item .info .text li {}
.cont02 .mySwiper .item .info .text li strong{}

.cont02 .mySwiper .item .info .btn {
    display: flex;
}
.cont02 .mySwiper .item .info .btn li {
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background-color: #000;
    color: #fff;
    margin-right: 10px;
}
.cont02 .mySwiper .item .info .btn > li:hover {
    background-color: rgb(116, 116, 116);
    color: #fff;
}
.cont02 .mySwiper .item .info .btn li a {
    padding: 0 25px;
}
.cont02 .mySwiper .item .info .btn li:nth-of-type(2) {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
}

/* .swiper */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* .cont 03 웹사이트 */
.cont03 {
    /* width: calc(100% - 300px);
    margin: 200px auto; */
    background-color: #eee;
    padding: 200px 0;
}
.cont03 .title {}
.cont03 .title h3 {}
.cont03 .title p {}
.cont03 .list {
    height: 85vh;
    display: flex;
    justify-content: space-between;
}
.cont03 .list .item {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 10px;
    border-radius: 40px;
}
.cont03 .list .item:hover::before {
    position: absolute;
    bottom: 0;
}
.cont03 .list .item::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: 0.5s;
}
.cont03 .list .item:hover .info {
    background-color: transparent;
    color: #fff;
}
.cont03 .list .item:hover .info .btn li {
    color: #333;
}
.cont03 .list .item:hover .info .btn li:hover {
    background-color: #000;
    color: #fff;
}

.cont03 .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont03 .list .item .info {
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 50px;
    word-break: keep-all;
    transition: 0.5s;
}
.cont03 .list .item .info h4 {
    font-size: 30px;
}
.cont03 .list .item .info p {
    margin: 7px 0 20px;
    line-height: 1.4;
}
.cont03 .list .item .info .text {}
.cont03 .list .item .info .text li {
    margin: 5px 0;
}
.cont03 .list .item .info .btn {
    display: flex;
    margin-top: 40px;
}
.cont03 .list .item .info .btn li {
    margin-right: 10px;
    background-color: #eee;
    border: 1px solid #eee;
}
.cont03 .list .item .info .btn li a {
    height: 45px;
    padding: 0 40px;
    display: block;
    line-height: 45px;
    font-size: 14px;
}

/* .cont04 그래픽디자인 */
.cont04 {
    height: 100vh;
    background-color: skyblue;
    color: #fff;
    padding: 200px 0;
}
.cont04 .title {
    text-align: center;
}

.cont04 .list {
    display: flex;
    justify-content: space-between;
}
.cont04 .list a {
    width: 19%;
    border-radius: 40px;
}
.cont04 .list a > div {
    overflow: hidden;
    position: relative;
}
.cont04 .list a > div .zoom {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: 1s;
}
.cont04 .list a > div:hover .zoom {
    opacity: 1;
}
.cont04 .list a > div img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    transition: 0.5s;
}
.cont04 .list a > div:hover img {
    transform: scale(1.3);
}
.cont04 .list .info {
    background-color: #fff;
    color: #333;
    padding: 20px 10px;
}
.cont04 .list .info h4 {
    font-size: 20px;
    margin-bottom: 7px;
}
.cont04 .list .info p {}


/* footer */
footer {
    padding: 70px 0 ;
    background-color: #333;
    color: #fff;
    text-align: center;
}
footer ul {
    margin-bottom: 50px;
}
footer ul li {
    height: 50px;
    line-height: 50px;
    width: 200px;
    background-color: #eee;
    color: #333;
    margin: 10px auto;
    border-radius: 40px;
}
footer ul li:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #eee;
}
footer ul li a {
    display: block;
}
footer p {
    margin-bottom: 10px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.4;
}