@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); /* 노토산스 */
 /* 마루부리 */
@font-face {
    font-family: 'MaruBuri';
    src: url('font1/MaruBuri-Regular.woff2') format('woff2'),
        url('font1/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MaruBuri';
    src: url('font1/MaruBuri-SemiBold.woff2') format('woff2'),
        url('font1/MaruBuri-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/* 나눔 명조 */
@font-face {
    font-family: 'NanumMyeongjo';
    src: url('font2/NanumMyeongjoBold.eot');
    src: url('font2/NanumMyeongjoBold.eot?#iefix') format('embedded-opentype'),
        url('font2/NanumMyeongjoBold.woff2') format('woff2'),
        url('font2/NanumMyeongjoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

